<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preroda</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script type="module" src="public/js/mod1.js"></script>
</head>

<body>
    <section id="section1">
        <div id="header">
            <span>
                <a id="logoCont" href=""><img id="logo" src="public/Image/logo.jpg" alt=""></a>
            </span>
            <span id="innerHeader">
                <span id="iiH">
                    <span><a href="index.ejs">Home</a></span>
                    <span><a href="Informative.ejs">Informative</a></span>
                    <span><a href="#" id="UtilitiesLink">Utilities</a></span>
                    <span><a href="About.ejs">About</a></span>
                </span>
                <span id="usercont"><img id="user" src="public/Image/user.jpg" alt=""></span>
            </span>
        </div>
        <div id="inTitle">
          system uses Sentinel-2 satellite imagery to monitor water pollution and support sustainable agriculture.<br><br> It features two key utilities: detect pollution sources by analyzing spectral signatures, and a crop recommendation tool that matches crops to regional water and vegetation conditions.
        </div>
        <div id="buttonDiv">
            <button class="custom-btn btn-12"><span>Scroll!</span><span>Try Now!</span></button>
            <button class="custom-btn btn-13">Read More</button>
        </div>
    </section>
    <section id="section2">
        <a href="WaterModel.ejs" alt="Water Monitoring Pollution System">
            <div class="card">
              <div class="wrapper">
                <img src="public/Image/Water1.jpg" class="cover-image" />
              </div>
              <img src="public/Image/wpm.png" class="title" />
            </div>
          </a>
          <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="public/Image/Crop.jpg" class="cover-image" />
              </div>
              <img src="public/Image/cr.png" class="title" />
            </div>
          </a>
    </section>
    

</body>

</html>