<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preroda Info</title>
    <link rel="stylesheet" href="public/css/style_water_model.css">
    <script type="module" src="public/js/mod1.js"></script>
</head>

<body>
    <section id="section1">
        <div id="header">
            <span>
                <a id="logoCont" href=""><img id="logo" src="public/Image/logo.jpg" alt=""></a>
            </span>
            <span id="innerHeader">
                <span id="iiH">
                    <span><a href="index.ejs">Home</a></span>
                    <span><a href="Informative.ejs">Informative</a></span>
                    <span><a href="#" id="UtilitiesLink">Utilities</a></span>
                    <span><a href="About.ejs">About</a></span>
                </span>
                <span id="usercont"><img id="user" src="public/Image/user.jpg" alt=""></span>
            </span>
        </div>
        

    </section>
    
    

</body>

</html>